.img {
  width: auto;
  height: auto;  
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 2vh;
  margin-right: 2vh;
  font-weight: bolder;
  font-size: xx-large;
  color: gray;
  list-style-type: none;
} 

nav div:hover {
  color: #dfb93e; 
}


