.link {
  color: rgb(254, 212, 0);
  font-weight: 500;
  font-size: 40px;
  text-decoration: none;
}

.cart {
  color: rgb(254, 212, 0);
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
}

.cart:hover {
  color: white;
}

.activeLink {
  color: white;
}

.link:hover {
  color: white;
}
